@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@300&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-color: #013542;
    background-size: cover;
    background-position: center;
}